@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");


body {
    font-family: "Inter", sans-serif;
}

.wrapper {
    display: flex;
}

.left-side {
    align-self: center;
    flex-grow: 1;
}

.left-side__content {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.left-side__logo {
    align-items: center;
    display: flex;
    gap: 8px;
    text-wrap: nowrap;
    color: #232D42;
    font-size: 33px;
    line-height: 42.9px;
    margin-bottom: 40px;
    justify-self: center;
}

.left-side__logo::before {
    content: "";
    background: url("../img/icons/logo.svg") 0 0 no-repeat;
    width: 34px;
    height: 35px;
    flex-shrink: 0;
}

.left-side__title {
    color: #000;
    font-size: 33px;
    font-weight: 600;
    line-height: 42.9px;
    margin-bottom: 16px;
    text-align: center;
}

.left-side__title--reset {
    color: #EE5755;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
}

.left-side__title--reset::before {
    content: "";
    background: url("../img/icons/succes.svg") 0 0 no-repeat;
    width: 92px;
    height: 92px;
    flex-shrink: 0;
}

.left-side__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__label>textarea {
    resize: none;
    overflow: auto;
}


.form__title,
.form__link,
.left-side__text {
    font-size: 16px;
    line-height: 28px;
}

.form__title {
    color: #8A92A6;
    margin-bottom: 8px;
}

.form__input {
    border-radius: 25px;
    border: 1px solid #EE5755;
    background: #FFF;
    margin-bottom: 8px;
    padding: 11px 16px;
}

.form__input:focus {
    outline: 1px solid #E83156;
}

.form__link {
    color: #EE5755;
    align-self: end;
    display: inline-flex;
    transition: scale 0.3s;
    scale: 1;
}

.form__link--back {
    align-self: center;
}

.form__link:hover {
    scale: 1.05;
    transition: scale 0.3s;
}

.form__button {
    border-radius: 25px;
    background: #EE5755;
    padding: 8px 24px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    width: 50%;
    align-self: center;
    margin-bottom: 8px;
    transition: all 0.5s;
}

.form__button:hover {
    transition: all 0.5s;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.left-side__bottom {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.left-side__text {
    color: #232D42;
}

.left-side__text--reset {
    text-align: center;
    color: #8A92A6;
    margin-bottom: 8px;
}

.right-side {
    display: block;
    height: 100vh;
    max-width: 960px;
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #E83156 0%, rgba(238, 87, 85, 0.55) 100%), url("../img/big_back.svg") center no-repeat;
    background-size: cover;
}

.right-side--rotate {
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

.form__bot {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.radio {
    display: inline-flex;
    padding-top: 4px;
}

.radio:not(:last-child) {
    margin-bottom: 10px;
}

.radio__title {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    cursor: pointer;
}

.radio__title::before {
    content: "";
    width: 20px;
    height: 20px;
    align-self: flex-start;
    border-radius: 50%;
    border: 1px solid #EE5755;
    background: #FFF;
    transition: background 0.3s;
}

.radio__input {
    width: 0;
    height: 0;
}

.radio__input:checked+.radio__title::before {
    background: #E83156;
    transition: background 0.3s;
    outline: 2px solid #E83156;
    outline-offset: 1px;
}


.radio__title--event {
    color: #7E1FD0;
}

.radio__title--task {
    color: #C98BFE;
}

.radio__title--high {
    color: #C20508;
}

.radio__title--medium {
    color: #DAB900;
}

.radio__title--low {
    color: #08BD02;
}


@media (max-width: 767.98px) {
    .right-side {
        display: none;
    }

    .left-side {
        margin-top: 20px;
        overflow-x: hidden;
    }
}

@media (max-width: 479.98px) {
    .left-side__logo {
        font-size: 20px;
    }
}

@media (max-width: 390px) {
    .form__button {
        width: 100%;
    }
}