* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
}
.header__row {
  display: flex;
  justify-content: center;
  text-align: center;
}
.header__body {
  padding-top: 35px;
}
.header__links {
  display: flex;
  justify-content: space-between;
}
.header a {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2.6px;
  font-weight: 700;
  color: #4d4959;
  padding-top: 35px;
}
.header a:hover {
  color: #000000;
  transition: 0.8s;
}
.header a:not(:hover) {
  color: #000000;
  transition: 0.8s;
}
.header__point {
  margin: 0 50px;
  padding-top: 35px;
}
.header__logo {
  margin: 0 65px;
}
@media (max-width: 768px) {
  .header__point {
    margin: 0 20px;
  }
  .header__logo {
    margin: 0 30px;
  }
}
@media (max-width: 576px) {
  .header__logo {
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    top: 10px;
    left: 90px;
  }
  .header a {
    padding: 10px 0;
    flex: 0 1 50%;
  }
  .header a:last-child {
    padding-left: 10px;
  }
  .header a:first-child {
    padding-right: 20px;
  }
  .header__links {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .header__point {
    display: none;
  }
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  background: url("/img/block_header.png") 50%/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  color: #353738;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.text {
  color: #848789;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
}

.container {
  width: 100%;
  text-align: center;
  max-width: 1080px;
  margin: 0 auto;
}

.generation {
  background: #f7f7f7;
}
.generation img {
  margin-bottom: 35px;
}
.generation__body {
  padding: 120px 10px;
}
.generation__text {
  margin-top: 35px;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
}

.brands__row {
  display: flex;
}
@media (max-width: 1100px) {
  .brands__row {
    display: flex;
    flex-direction: column;
  }
}
.brands__column {
  flex: 0 1 33.333%;
}
.brands__column-a {
  flex: 0 1 66.667%;
  display: flex;
}
.brands__last {
  flex: 0 1 33.333%;
}
.brands__contents {
  text-align: center;
  position: relative;
}
.brands__contents:after {
  content: "";
  position: absolute;
  bottom: -21%;
  left: 50%;
  margin: 0px 0px 0px -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  display: none;
}

.item {
  flex: 0 0 100%;
  position: relative;
}
.item__logo {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(100, 194, 158, 0.5);
  opacity: 0;
  visibility: hidden;
}
.item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
  transition: 2.3s;
}
.item:not(:hover) .item__logo {
  transition: 2.3s;
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0px 0px 70% 0px;
  }
}

.contents__icon {
  margin-top: 70px;
  margin-bottom: 30px;
}
.contents__title {
  margin-bottom: 26px;
}
.contents__text {
  padding: 0 60px;
}
@media (max-width: 1360px) {
  .contents__text {
    padding: 0 30px;
  }
}
.contents__text:after {
  content: "";
  display: block;
  margin: 35px auto 0px auto;
  width: 50px;
  height: 1px;
  background-color: #949393;
}
.contents__bottom {
  padding: 9.5% 0px 0px 0px;
}
.contents__bottom img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 100%;
}

.excerption {
  background: #f7f7f7;
}
.excerption__body {
  padding: 80px 10px;
}
@media (max-width: 1100px) {
  .excerption__body {
    padding: 60px 10px;
  }
}
.excerption__image {
  margin: 0px 0px 35px 0px;
}
.excerption__title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.8px;
  color: #353738;
  margin: 0px 0px 25px 0px;
}
.excerption__title span {
  font-weight: 400;
}
.excerption__text {
  font-size: 24px;
  font-style: italic;
  color: #848789;
  line-height: 1.42;
}
@media (max-width: 1100px) {
  .excerption__text {
    max-width: 800px;
    margin: 0 auto;
  }
}
.excerption__circle {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 50px;
  margin: 0 auto;
}

.circle {
  margin: 50px 0px 0px 0px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #939a9e;
}
.circle:first-child {
  background-color: #a9afb3;
}

.shop__row {
  display: flex;
  flex: 0 1 33.333%;
}
@media (max-width: 1100px) {
  .shop__row {
    display: flex;
    flex-direction: column;
  }
}
.shop__column {
  display: flex;
  width: 100%;
}
.shop__footer {
  padding: 94px 10px;
  background: #282f35;
}
@media (max-width: 1100px) {
  .shop__footer {
    padding: 50px 10px;
  }
}
.shop__footer-btn {
  background: #282f35;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 56px;
}
.shop__footer-btn:hover {
  background: #20262b;
  border: 1px solid rgba(255, 255, 255, 0.8);
  transition: 0.8s;
}
.shop__footer-btn:not(:hover) {
  transition: 0.8s;
}
@media (max-width: 1100px) {
  .shop__footer-btn {
    padding: 15px 40px;
  }
}

.column__body {
  display: flex;
}
.column__body-shop-s {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.column__body-shop-b {
  display: flex;
  flex-grow: 1;
}

.body-shop {
  position: relative;
}
.body-shop__items {
  display: flex;
}
.body-shop__items-s {
  flex: 0 1 50%;
  position: relative;
}
.body-shop__items-s:hover .items__logo {
  opacity: 1;
  visibility: visible;
  transition: 2.3s;
}
.body-shop__items-s:not(:hover) .items__logo {
  transition: 2.3s;
}
.body-shop__items-w {
  flex: 0 1 100%;
  position: relative;
}
.body-shop__items-w:hover .items__logo {
  opacity: 1;
  visibility: visible;
  transition: 2.3s;
}
.body-shop__items-w:not(:hover) .items__logo {
  transition: 2.3s;
}
.body-shop__items-b {
  flex: 0 1 100%;
  position: relative;
}
.body-shop__items-b:hover .items__logo {
  opacity: 1;
  visibility: visible;
  transition: 2.3s;
}
.body-shop__items-b:not(:hover) .items__logo {
  transition: 2.3s;
}

.items {
  flex: 0 0 100%;
  position: relative;
}
.items__logo {
  padding: 0px 0px 0px 40px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(100, 194, 158, 0.5);
  opacity: 0;
  visibility: hidden;
}
.items__logo span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin: 60px 0px 0px -70px;
}
.items__img {
  flex: 0 0 100%;
}
.items__img img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.email__row {
  padding: 110px 10px;
}
@media (max-width: 1100px) {
  .email__row {
    padding: 80px 10px;
  }
}
@media (max-width: 768px) {
  .email__row {
    padding: 60px 10px;
  }
}
.email__logo {
  margin: 0px 0px 40px 0px;
}
.email__text {
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-style: italic;
  margin: 0px 0px 35px 0px;
}
@media (max-width: 576px) {
  .email__forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.forms__input {
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  padding: 0px 0px 0px 28px;
  color: #929292;
  height: 69px;
  width: 400px;
  border: 1px solid #d3d7d9;
}
@media (max-width: 768px) {
  .forms__input {
    height: 60px;
    width: 250px;
  }
}
.forms__input:focus {
  border: 1px solid #a6abad;
  transition: 0.5s;
}
.forms__input:not(:hover) {
  transition: 0.5s;
}
.forms__btn {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  height: 69px;
  width: 126px;
  background: #64c29e;
  margin: 0px 0px 0px 8px;
}
@media (max-width: 768px) {
  .forms__btn {
    height: 60px;
    width: 100px;
  }
}
@media (max-width: 576px) {
  .forms__btn {
    margin: 15px 0px 0px 0px;
    width: 250px;
  }
}
.forms__btn:hover {
  background: #4e9e7f;
  transition: 0.8s;
}
.forms__btn:not(:hover) {
  transition: 0.8s;
}

.footer {
  background: #f7f7f7;
}
.footer__row {
  padding: 100px 0px;
}
@media (max-width: 768px) {
  .footer__row {
    padding: 50px 0px;
  }
}
@media (max-width: 576px) {
  .footer__row {
    padding: 30px 0px;
  }
}
@media (max-width: 1100px) {
  .footer__body {
    margin: 0px 100px;
  }
}
.footer__columns {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.columns__contacts {
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  color: #848789;
}
.columns__contacts p:first-child {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 768px) {
  .columns__contacts {
    text-align: center;
  }
}
.columns__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.columns__social img {
  margin: 0px 15px 0px 0px;
}
@media (max-width: 768px) {
  .columns__social {
    margin: 30px 0px;
  }
}
.columns__handcrafted {
  width: 20%;
}
@media (max-width: 964px) {
  .columns__handcrafted {
    width: 30%;
  }
}
@media (max-width: 710px) {
  .columns__handcrafted {
    width: 40%;
  }
}
@media (max-width: 580px) {
  .columns__handcrafted {
    width: 50%;
  }
}
@media (max-width: 507px) {
  .columns__handcrafted {
    width: 60%;
  }
}
@media (max-width: 458px) {
  .columns__handcrafted {
    width: 70%;
  }
}
@media (max-width: 420px) {
  .columns__handcrafted {
    width: 80%;
  }
}
@media (max-width: 392px) {
  .columns__handcrafted {
    width: 90%;
  }
}
@media (max-width: 369px) {
  .columns__handcrafted {
    width: 100%;
  }
}
@media (max-width: 352px) {
  .columns__handcrafted {
    width: 110%;
  }
}
@media (max-width: 339px) {
  .columns__handcrafted {
    width: 120%;
  }
}
@media (max-width: 328px) {
  .columns__handcrafted {
    width: 130%;
  }
}
@media (max-width: 318px) {
  .columns__handcrafted {
    width: 140%;
  }
}

.handcrafted-by {
  display: flex;
}
.handcrafted-by__text {
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #848789;
  font-style: italic;
  padding: 7px 9px 0px 0px;
}