

@import "reset.css";

@import "fonts.css";

body {
    font-family: "ProximaNova", sans-serif;
    font-weight: 400;
	background-color: #F8F8F8;
}

.wrapper {
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

[class*=__container] {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0px 15px;
}
.popular--margin {
	margin: 0 0 70px 0;
}
.most-popular--margin{
	margin: 0 0 70px 0;
}
.discount--margin {
	margin: 0 0 70px 0;
}
.header {
	display: flex;
	flex-direction: column;
	
}
.header__top {
	color: #535353;
	font-size: 16px;
	line-height: 1.875;
	padding: 15px 0;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__list-about {
	display: flex;
	gap: 30px;
}
.header__link-about {
	transition-duration: 0.2s;
}
.header__link-about:hover {
	color: #444444;
	transform: scale(1.1);
}
.header__contacts {
	display: flex;
	margin: 0 24px 0 0;
}
.header__contacts > p {
	margin: 0 20px 0 0;
}
.header__list-contacts {
	display: flex;
	gap: 10px;
	margin: 0 30px 0 0;
}
.header__link-contacts {
	transition-duration: 0.2s;
}
.header__link-contacts:hover {
	transform: scale(1.1);
}
.header__language {
	font-family: "ProximaNova-Semibold", sans-serif;
	font-size: 19px;
	position: relative;
}

.header__language::after {
	content: "";
	background: url("../img/icons/arrow-down-gray.svg")0 0/100% no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 5px;
	right: -25px;
}
.header__main {
	background-color: #fff;
	padding: 25px 0;
	margin: 0 0 3px 0;
	position: sticky;
	z-index: 50;
	top: 0;
	left: 0;
}
.header__button-cat {
	background-color: #FFBC57;
	color: #fff;
  	font-size: 19px;
	border-radius: 8px 8px 8px 8px;
	line-height: 1.26;
	font-family: "ProximaNova-Semibold", sans-serif;
	padding: 11px 20px 11px 54px;
	position: relative;
	transition-duration: 0.2s;
}

.header__button-cat::before {
	content: "";
	background: url("../img/icons/menu-catalog.svg")0 0/100% no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 11px;
	left: 20px;
}

.header__button-cat:hover {
	background-color: #f7ad3e;
}

.header__search-input {
	flex-basis: 421px;
	border: 1px solid #B1B1B1;
	border-radius: 8px 8px 8px 8px;
}
.header__inside-search-inp {
	display: flex;
	justify-content: space-between;	
	padding: 10px 15px;
}
.header__inside-search-inp > p {
	color: #B1B1B1;
  	font-size: 16px;
	line-height: 1.875;
}

.header__button-search > img {
	width: 24px;
	height: 24px;
}
.header__number {
	position: relative;
	flex-basis: 230px;
	padding: 0 0 0 60px;
}
.header__number::before {
	content: "";
	background: url("../img/icons/icon-tel.svg")0 0/100% no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0px;
}
.header__number::after {
	content: "";
	background: url("../img/icons/arrow-down-gray.svg")0 0/100% no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 10px;
	right: 0px;
}

.header__number > span {
	color: #535353;
  	font-size: 13px;
	font-family: 'ProximaNova-Light', sans-serif;
	line-height: 1.69;
}
.header__number > p {
	color: #2b2929;
  	font-size: 20px;
	font-family: 'ProximaNova-Semibold', sans-serif;
	line-height: 1.4;
}
.header__link-favourite {
	transition-duration: 0.2s;
}
.header__link-favourite:hover {
	transform: scale(1.2);
}
.header__link-favourite > img {
	width: 50px;
	height: 50px;
}
.header__cart {
	margin: 0 0 0 -10px;
}
.header__link-cart {
	transition-duration: 0.2s;
}
.header__link-cart:hover {
	transform: scale(1.2);
}
.header__link-cart > img {
	width: 50px;
	height: 50px;
}
.header__bottom {
	background-color: #fff;
	color: #535353;
  	font-size: 19px;
	font-family: 'ProximaNova-Semibold', sans-serif;
	line-height: 1.26;
	padding: 18px 0;
	margin: 0 0 50px 0;
}

.header__list-special {
	display: flex;
	gap: 40px;
}

.header__link-special {
	transition-duration: 0.2s;
	padding: 2px 0 0 34px;
}
.header__link-special:hover {
	color: #4b4b4b;
	transform: scale(1.2);
}
.header__link-special--discount {
	position: relative;
}
.header__link-special--discount::before {
	content: "";
	background: url("../img/icons/discount.svg");
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
}
.header__link-special--sale {
	position: relative;
}
.header__link-special--sale::before {
	content: "";
	background: url("../img/icons/sale.svg");
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
}

.header__link-special--credit {
	position: relative;
}
.header__link-special--credit::before {
	content: "";
	background: url("../img/icons/credit.svg");
	width: 24px;
	height: 24px;
	position: absolute;
	top: 0;
	left: 0;
}

.header__list-categories {
	display: flex;
	gap: 40px;
}
.header__link-categories {
	transition-duration: 0.2s;
}
.header__link-categories:hover {
	color: #535353;
	transform: scale(1.1);
}
.popular__title {
	margin: 0 0 40px 0;
}
.main-title {
	color: #2b2929;
	font-size: 40px;
	font-family: 'ProximaNova-Semibold', sans-serif;
	line-height: 1.2;
	padding: 0 30px 0 0;
}

.main-subtitle {
	font-family: 'ProximaNova-Semibold', sans-serif;
	color: #ffbc57;
  	font-size: 19px;
	position: relative;
	display: inline-block;
	transition: 0.2s;
}

.main-subtitle::after {
	content: "";
	background: url("../img/icons/arrow-more.svg");
	width: 24px;
	height: 24px;
	position: absolute;
	bottom: -3px;
	right: -30px;
}
.main-subtitle:hover {
	transform: scale(1.1);
	color: #f8b043;
}

.popular__cards {
	display: flex;
	column-gap: 10px;
	row-gap: 20px;
	flex-wrap: wrap;
}
.popular__card {
	background: #fff url("../img/content/background-shadow-card.svg") bottom/100% no-repeat;
	box-shadow: -3px 4px 15px 0 rgba(0,0,0,.06);
  	border-radius: 8px 8px 8px 8px;
	position: relative;
	flex-basis: 250px;
	height: 300px;
	transition: 0.3s;
}

.popular__title-card > h3 {
	color: #2b2929;
  	font-size: 20px;
	line-height: 1.4;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2;
	transition-duration: 0.5s;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.popular__title-card > p {
	color: #b1b1b1;;
  	font-size: 20px;
	line-height: 1.4;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 2;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.popular__img-card {
	position: absolute;
	bottom: 0;
	left: 0;
}
.popular__link-card {
	position: absolute;
	right: 20px;
	bottom: 20px;
	transition-duration: 0.5s;
	opacity: 0;
}
.popular__link-card > img {
	width: 50px;
	height: 50px;
}
.popular__card:hover {
	box-shadow: 3px 4px 15px 0 rgba(29, 29, 29, 0.536);
}

.popular__card:hover h3 {
	color: #ffbc57;
}

.popular__card:hover .popular__link-card {
	opacity: 1;
	transform: scale(1.1);
}

.most-popular__title {
	display: flex;
	align-items: center;
	margin: 0 0 40px 0;
}


.most-popular__cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.most-popular__card {
	flex-basis: 300px;
	height: 468px;
	border: 1px solid #e3e2e2;
	box-shadow: -3px 4px 15px 0 rgba(0,0,0, 0.06);
	background-color: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 19px;
	justify-content: space-between;
	transition-duration: 0.3s;
}

.most-popular__img-card img {
	width: 260px;
	height: 220px;
	border-radius: 8px;
}
.most-popular__about-card > p {
	color: #535353;
  	font-size: 13px;
	font-family: 'ProximaNova-Light', sans-serif;
	line-height: 1.69;
	padding: 0 0 10px 0;
}
.most-popular__about-card > h3 {
	color: #2b2929;
  	font-size: 19px;
	line-height: 1.26;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
.most-popular__availability {
	color: #2b2929;
  	font-size: 13px;
	font-family: 'ProximaNova-Light', sans-serif;
	line-height: 1.69;
	position: relative;
	padding: 0 0 0 29px;
}
.most-popular__availability::before {
	content: "";
	background: url("../img/icons/check.svg")0 0/100% no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0;
	top: -2px;
}

.most-popular__bottom {
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.most-popular__price > p {
	color: #2b2929;
  	font-size: 20px;
	font-family: 'ProximaNova-Semibold', sans-serif;
	line-height: 1.4;
	padding: 0 0 10px 0;
}

.most-popular__price--old-price {
	margin: 0 0 -10px 0;
}

.old-price {
	color: #e03d3d;
  	font-size: 15px;
	font-family: 'ProximaNova-Semibold', sans-serif;
	text-decoration: line-through;
	line-height: 1.46;
}
.most-popular__favourite {
	margin: 0 5px 0 0;
	transition: 0.3s;
}
.most-popular__favourite img {
	width: 50px;
	height: 50px;
}
.most-popular__cart {
	transition: 0.3s;
}
.most-popular__cart img {
	width: 50px;
	height: 50px;
}

.most-popular__card:hover{
	box-shadow: 3px 4px 15px 0 rgba(29, 29, 29, 0.536);
}
.most-popular__favourite:hover{
	transform: scale(1.1);
}
.most-popular__cart:hover{
	transform: scale(1.1);
}

.discount__header {
	display: flex;
	justify-content: space-between;
}
.discount__title {
	display: flex;
	align-items: center;
	margin: 0 0 45px 0;
}
.discount__nav {
	display: flex;
}
.discount__arrow-nav img {
	width: 60px;
	height: 60px;
	transition: 0.3s;
	border-radius: 50%;
}
.discount__arrow-nav:hover img {
	transform: scale(1.1);
	box-shadow: 3px 4px 15px 0 rgba(151, 151, 151, 0.536);
}

.discount__arrow-nav--left {
	margin: 0 20px 0 0;
}
.discount__arrow-nav--right {
	transform: rotateY(180deg);
}
.discount__slider {
	display: flex;
	gap: 30px;
}
.discount__item-slider img {
	width: 410px;
	height: 280px;
	transition: 0.3s;
	border-radius: 8px;
}

.discount__item-slider:hover img{
	box-shadow: 3px 4px 15px 0 rgba(29, 29, 29, 0.536);
	transform: scale(1.1);
}


.footer {
	background-color: #3D3D3D;
	color: #b1b1b1;
  	font-size: 15px;
	text-align: center;
	line-height: 1.46;
}
.footer__container {
	padding: 20px 15px;
}