
@media screen and (max-width: 1604px) {
	.mailing {
        &__form-btn {
            margin: 10px 0px 0px 0px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .header {
        &__links {
            margin: 3px 0px 0px -500px;
        }
    }
    .main-screen {
        &__photo {
            width: 40%;
        }
    }
}

@media screen and (max-width: 1310px) {
    .header {
        &__links {
            margin: 3px 0px 0px -400px;
        }
    }
}



/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.main {
        a {
            color: #fff;
        }
    }
    .header {
        position: absolute;
        z-index: 9;
        // display: flex;
        width: 100%;
        display: block;
        &__links {
            margin: 3px 0px 0px 0px;
        }
    }
    .main-screen {
        &__body {
            margin: 0 auto;
            width: 30%;
        }
        &__content {
            margin: 250px 0px 0px 0px;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        &__subtitle {
            color: #fff;
            z-index: 5;
        }
        &__title {
            color: #fff;
            z-index: 5;
        }
        &__slogan {
            color: #fff;
            z-index: 5;
        }
        &__photo {
            width: 100%;
            img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				
			}
        }
        &__scroll-btn {
            z-index: 5;
        }
    }

    .scroll-btn {
        border-color: #fff;
        img {
            fill: #fff;
            padding: 14px 10px;
        }
    }
    .scroll-white {
        display: block;
    }
    .scroll-brown {
        display: none;
    }
    .examples {
        &__photo-title {
            font-size: 40px;
        }
    }
    .about {
        &__title {
            width: 75%;
        }
    }
    .footer {
        &__columns {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        &__column-w-photo {
            margin: 20px 0px 0px 0px;
        }
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .header {
        &__body {
            padding: 50px 50px 0px 100px;
        }
    }
    .examples {
        &__content {
            display: flex;
            flex-direction: column;
        }
        &__subtitle {
            margin: 0px 0px 20px 0px;
        }
        &__photos {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        &__photo {
            max-width: 350px;
            margin: 20px 0px 0px 0px;
        }
        &__photo-title {
            left: 80%;
        }
        &__photo-subtitle {
            left: 110%;
        }
        &__photo-img {
            img {
                width: 100%;
            }
        }
        &__next {
            margin: 50px 0px 0px 0px;
        }
    }
    .about {
        &__body {
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1fr;
        }
        &__par-body {
            margin: 20px 0px 0px 0px;
        }
    }
    .slider {
        &__info {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
    .footer {
        &__columns {
            grid-template-rows: 1fr 0.5fr;
            grid-template-columns: 2fr;
        }
        &__columns-link {
            grid-template-columns: 2fr 2fr;
            grid-template-rows: 2fr 2fr;
        }
        &__column-w-photo {
            margin: 20px 0px 0px 0px;
            width: 100%;
        }
        &__credits {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            'social'
            'links'
            'text';
        }
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
    body {
        &.lock {
            overflow: hidden;
        }
    }
    .main-screen {
        &__photo {
            // display: none;
        }
    }
    .header {
        &__body {
            padding-left: 50px;
        }
        &__logo {
            z-index: 11;
            position: relative;
        }
        &__burger {
            display: block;
            z-index: 10;
            position: relative;
            width: 30px;
            height: 20px;
            &::before,  {
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            &::before {
                top: 0;
            }
            // &::after {
            //     bottom: 0;
            // }
            span {
                position: absolute;
                background-color: #fff;
                left: 0;
                width: 100%;
                height: 2px;
                top: 10px;
                transition: all 0.3s ease 0s;
            }
            &.active {
                &::before {
                    transform: rotate(45deg);
                    top: 10px;
                }
            }
            &.active {
                span {
                    transform: rotate(-45deg);
                    bottom: 10px;
                }
                
            }
        }
        &__links {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f3eee8;
            margin: 0;
            z-index: 10;
            display: flex;
            flex-direction: column;
            font-size: 40px;
            padding: 150px 0px 0px 0px;
            transition: all 0.3s ease 0s;
            overflow: auto;
            // text-align: center;
            a {
                margin: 20px;
                // color: rgb(204, 194, 194);
            }
            &.active {
                top: 0;
            }
        }
        &__message {
            position: absolute;
            top: -110%;
            left: 50%;
            text-align: center;
            border: none;
            padding: 50px 0px 0px 0px;
            transition: all 0.3s ease 0s;
            &.active {
                top: 0;
            }
        }
    }
    .main-screen {
        &__body {
            width: 60%;
        }
        &__title {
            font-size: 35px;
        }
        &__subtitle {
            font-size: 18px;
        }
    }    
    .examples {
        &__row {
            margin: 50px 70px 0px 50px;
        }
        &__title {
            font-size: 35px;
        }
        &__photos {
            display: block;
        }
        &__photo {
            &:first-child {
                display: none;
            }
        }
        &__photo-title {
            font-size: 35px;
        }
        &__photo-subtitle {
            left: 105%;
        }
    }
    .about {
        &__row {
            margin: 50px 70px 0px 50px;
        }
        &__body {
            grid-template-columns: 1fr;
            grid-template-rows: 0.2fr 1fr;
        }
        &__title {
            font-size: 35px;
            width: 100%;
        }
        &__par-body {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
        &__par {
            margin: 20px 0px 0px 0px;
        }
    }
    .btn-more {
        font-size: 17px;
    }
    .mailing {
        
        &__title {
            font-size: 35px;
        }
        &__body {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            padding: 50px 70px 0px 50px;
        }
        &__form-body {
            margin: 20px 0px 20px 0px;
        }
        &__form-btn {
            width: 70%;
        }
    }
    .slider {
        &__body {
            display: grid;
            grid-template-areas: 
            'info'
            'photo';
		} 
        &__photos {
            display: none;
        }
        &__photos-w-o-slider {
            display: grid;
            grid-area: photo;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin: 40px 32px 50px 32px;
            
        }
        &__photo-w-o-slider {
            width: 190px;
            height: 270px;
            padding: 30px 0px 20px 0px;
            display: block;
                margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }
        &__photo-text {
            display: block;
            font-size: 15px;
            line-height: 20px;
            margin: 15px 0px 0px 0px;
            color: #121212;
        }
        &__info {
            grid-area: info;
            padding: 50px 70px 0px 50px;
            display: grid;
            grid-template-rows: 0.5fr 1fr;
        }
    }
    .footer {
        &__row {
            margin: 50px 70px 0px 50px;
        }
        &__info-body {
            grid-template-columns: 1fr;
            grid-template-rows: 0.1fr 1fr;
        }
        &__logo {
            text-align: center;
            margin: 0;
        }
        &__columns {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.2fr;
        }
        &__columns-link {
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
            grid-template-areas: 
            'about'
            'services'
            'products'
            'rooms';
        }
        &__column {
            margin: 40px 0px 0px 0px;
        }
        &__credits {
            margin: 0px 0px 50px 0px;
        }
        &__column-products {
            grid-area: products;
        }
        &__column-rooms {
            grid-area: rooms;
        }
        &__column-services {
            grid-area: services;
        }
        &__column-about {
            grid-area: about;
        }
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.examples {
        &__photo {
            width: 70%;
        }
    }
    .mailing {
        &__body {
            // width: 10%;
        }
        &__subtitle {
            width: 70%;
        }
        &__form-input {
            width: 100%;
        }
    }
    .slider {
        &__text {
            max-width: 100%;
        }
        &__photos-w-o-slider {
            margin-left: 0;
            margin-right: 0;
        }
        &__photo-w-o-slider {
            width: 100px;
            height: 200px;
        }
        &__title {
            font-size: 35px;
        }
        &__text {
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 370px) {
    .slider {
        &__info {
            padding: 0px 0px 0px 50px;
        }
    }
    .footer {
        &__columns {
            // margin: 0px 0px 0px -80px;
        }
        &__credits {
            // margin: 0px 0px 0px -25px;
            margin: 0 auto;
        }
        &__column-w-photo {
            margin: 0px 0px 0px -20px;
        }
    }
}
@media screen and (max-width: 340px) {
    .footer {
        &__credits {
            // margin: 0px 0px 0px -70px;
        }
    }

}
@media screen and (max-width: 340px) {
    .footer {
        &__column-w-photo {
            margin: 0px 0px 0px -30px;
        }
    }

}