@import '_nullstyles.scss';

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 50;

		&__row {
            display: flex;
            justify-content: center;
            text-align: center;
		}

		&__body {
            padding-top: 35px;
		}

		&__links {
            display: flex;
            justify-content: space-between;
		}

        a {
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 2.6px;
            font-weight: 700;
            color: #4d4959;
            &:hover {
                color: #000000;
                transition: 0.8s;
            }
            &:not(:hover) {
                color: #000000;
                transition: 0.8s;
            }
            padding-top: 35px;
        }

		&__point {
            margin: 0 50px;
            padding-top: 35px;
		}

        &__logo {
            margin: 0 65px;
        }

        @media (max-width: 768px) {
            &__point {
                margin: 0 20px;
            }
           
            &__logo {
                margin: 0 30px;
            }
        }

        @media (max-width: 576px) {
            &__logo {
                max-width: 50px;
                max-height: 50px;
                position: absolute;
                top: 10px;
                left: 90px;
            }
            a {
                padding: 10px 0;
                flex: 0 1 50%;
                &:last-child {
                    padding-left: 10px;
                }
                &:first-child {
                    padding-right: 20px;
                }
            }
            &__links {
                display: flex;
                flex-wrap: wrap;  
                position: relative;        
            }
            &__point {
                display: none;
            }

        }
}

.main-screen {
    flex: 1 0 100%;
    position: relative;
		&__bg {
            background: url('/img/block_header.png') 50%/cover no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            
    }
}


.title {
    color: #353738;
    font-size: 18px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.text {
    color: #848789;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

.container {
    width: 100%;
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
}

.generation {
    background: #f7f7f7;

    img {
        margin-bottom: 35px;
    }

    &__body {
        padding: 120px 10px;
    }

    &__text {
        margin-top: 35px;
        font-size: 18px;
        line-height: 34px;
        text-align: center;
    }

}

.brands {
    
    &__row {
        display: flex;
        @media (max-width: 1100px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__column {
        flex: 0 1 33.333%;   

    }

    &__column-a {
        flex: 0 1 66.667%;
        display: flex;
    }

    &__last {
        flex: 0 1 33.333%
    }

    &__contents {
        text-align: center;
        position: relative;

// CТРЕЛКА!!!!!!!! 

        &:after {
            content: '';
            position: absolute;
            bottom: -21%;
            left: 50%;
            margin: 0px 0px 0px -10px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid white;
            display: none;
        } 
         
    }
}

.item {
    flex: 0 0 100%;
    position: relative;
    &__logo {
        position: absolute;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(100, 194, 158, 0.5);
        opacity: 0;
        visibility: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover {
        .item__logo {
            opacity: 1;
            visibility: visible;
            transition: 2.3s;
        }
    }
    &:not(:hover) {
        .item__logo {
            transition: 2.3s;
        }
    }

    @media (max-width: 1100px){
        height: auto;
        padding: 0px 0px 70% 0px;
    }
}


.contents {
    
    &__icon {
        margin-top: 70px;
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 26px;
    }

    &__text {
        padding: 0 60px;
        @media (max-width: 1360px) {
            padding: 0 30px;
        }
        &:after {
            content: '';
            display: block;
            margin: 35px auto 0px auto;
            width: 50px;
            height: 1px;
            background-color: #949393;
        }
    }

    &__bottom {
        padding: 9.5% 0px 0px 0px;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                overflow: hidden;
                max-height: 100%;
            }
        
    }   
    
}

.excerption {
    background: #f7f7f7;


    &__body {
        padding: 80px 10px;
        @media (max-width: 1100px) {
            padding: 60px 10px;
        }
    }

    &__image {
        margin: 0px 0px 35px 0px;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 1.8px;
        color: #353738;
        span {
            font-weight: 400;
        }
        margin: 0px 0px 25px 0px;
    }

    &__text {
        font-size: 24px;
        font-style: italic;
        color: #848789;
        line-height: 1.42;
        @media (max-width: 1100px) {
            max-width: 800px;
            margin: 0 auto;
        }
    }

    &__circle {
       display: flex;
       justify-content: space-between;
       text-align: center;
       max-width: 50px;
       margin: 0 auto;
    }
}

.circle {
    margin: 50px 0px 0px 0px;
    &:first-child {
        background-color: #a9afb3;
    }
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #939a9e;
}

.shop {

    &__row {
        display: flex;
        flex: 0 1 33.333%;
        @media (max-width: 1100px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__column {
        display: flex;
        width: 100%;
    }

    &__footer {
        padding: 94px 10px;
        background: #282f35;

        @media (max-width: 1100px) {
            padding: 50px 10px;
        }
    }

    &__footer-btn {
        background: #282f35;
        font-size: 14px;
        letter-spacing: 2.8px;
        color: #fff;
        text-align: center;
        font-weight: 700;
        border: 1px solid 
        rgba(255, 255, 255, 0.5);
        padding: 20px 56px;

        &:hover {
            background: #20262b;
            border: 1px solid 
            rgba(255, 255, 255, 0.8);
            transition: 0.8s;
        }
        &:not(:hover) {
            transition: 0.8s;
        }

        @media (max-width: 1100px) {
            padding: 15px 40px;
        }
        
    }
}

.column {
    &__body {
        display: flex;
        
    }

    &__body-shop-s {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        
    }
    &__body-shop-b {
        display: flex;
        flex-grow: 1;
    }
}

.body-shop {
    position: relative;
    
    &__items {
        display: flex;
        
    }

    &__items-s {
        flex: 0 1 50%;
        position: relative;
        &:hover {
            .items__logo {
                opacity: 1;
                visibility: visible;
                transition: 2.3s;
            }
        }
        &:not(:hover) {
            .items__logo {
                transition: 2.3s;
            }
        }  
    }

    &__items-w {
        flex: 0 1 100%;
        position: relative;
        &:hover {
            .items__logo {
                opacity: 1;
                visibility: visible;
                transition: 2.3s;
            }
        }
        &:not(:hover) {
            .items__logo {
                transition: 2.3s;
            }
        }  
    }

    &__items-b {
        // width: 100%
        flex: 0 1 100%;
        position: relative;
        &:hover {
            .items__logo {
                opacity: 1;
                visibility: visible;
                transition: 2.3s;
            }
        }
        &:not(:hover) {
            .items__logo {
                transition: 2.3s;
            }
        }  
    }
}

.items {
    flex: 0 0 100%;
    position: relative;
    &__logo {    
        span {
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            letter-spacing: 2.8px;
            text-transform: uppercase;
            margin: 60px 0px 0px -70px;
        }
        padding: 0px 0px 0px 40px;
        position: absolute;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(100, 194, 158, 0.5);
        opacity: 0;
        visibility: hidden; 
    }

    &__img {
        flex: 0 0 100%;
        img {
            overflow: hidden;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 100%; 
        }
    }
}

.email {

    &__row {
        padding: 110px 10px;

        @media (max-width: 1100px) {
            padding: 80px 10px;
        }
        @media (max-width: 768px) {
            padding: 60px 10px;
        }
    }

    &__logo {
        margin: 0px 0px 40px 0px;
    }

    &__text {
        font-size: 24px;
        line-height: 34px;
        color: #848789;
        font-style: italic;
        margin: 0px 0px 35px 0px;
    }

    &__forms {
        @media (max-width: 576px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

}

.forms {

    &__input {
        font-style: italic;
        font-size: 20px;
        line-height: 24px;
        padding: 0px 0px 0px 28px;
        color: #929292;
        height: 69px;
        width: 400px;
        border: 1px solid #d3d7d9;

        @media (max-width: 768px) {
            height: 60px;
            width: 250px;
        }

        &:focus {
            border: 1px solid #a6abad;
            transition: 0.5s;
        }
        &:not(:hover) {
            transition: 0.5s;
        }
    }

    &__btn {
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        font-weight: 300;
        text-transform: uppercase;
        height: 69px;
        width: 126px;
        background: #64c29e;
        margin: 0px 0px 0px 8px;

        @media (max-width: 768px) {
            height: 60px;
            width: 100px;
        }

        @media (max-width: 576px) {
            margin: 15px 0px 0px 0px;
            width: 250px;
        }

        &:hover {
            background: #4e9e7f;
            transition: 0.8s;
        }
        &:not(:hover) {
            transition: 0.8s;
        }
    }
}

.footer {
    background: #f7f7f7;
    &__row {
        padding: 100px 0px;
        @media (max-width: 768px) {
            padding: 50px 0px;
        }
        @media (max-width: 576px) {
            padding: 30px 0px;
        }
    }

    &__body {
        @media (max-width: 1100px) {
            margin: 0px 100px;
        }
    }

    &__columns {
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.columns {
    
    &__contacts {
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        font-style: italic;
        color: #848789;
        p {
            &:first-child {
                font-size: 16px;
                font-weight: 700;
                font-style: normal;
            }
        }
        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin: 0px 15px 0px 0px;
        }

        @media (max-width: 768px) {
            margin: 30px 0px;
        }
    }

    &__handcrafted {
        width: 20%;
        @media (max-width: 964px) {
            width: 30%;
        }
        
        @media (max-width: 710px) {
            width: 40%;
        }
        @media (max-width: 580px) {
            width: 50%;
        }
        @media (max-width: 507px) {
            width: 60%;
        }
        @media (max-width: 458px) {
            width: 70%;
        }
        @media (max-width: 420px) {
            width: 80%;
        }
        @media (max-width: 392px) {
            width: 90%;
        }
        @media (max-width: 369px) {
            width: 100%;
        }
        @media (max-width: 352px) {
            width: 110%;
        }
        @media (max-width: 339px) {
            width: 120%;
        }
        @media (max-width: 328px) {
            width: 130%;
        }
        @media (max-width: 318px) {
            width: 140%;
        }
    }
}
.handcrafted-by {
    display: flex;
    &__text {
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: #848789;
        font-style: italic;
        padding: 7px 9px 0px 0px;
    }
}






















