@import '/fonts/NiveauGrotes/bold.css';
@import '/fonts/NiveauGrotes/medium.css';
@import '/fonts/NiveauGrotes/regular.css';
@import '/css/loading.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Niveau Grotesk";
  background: #F9FAFB url("/img/BG.png") 100% 0/contain no-repeat;
}
@media (max-width: 768px) {
  body {
    background: #F9FAFB url("/img/BG.png") 100% 0/cover no-repeat;
  }
}

@media (max-width: 768px) {
  .background {
    display: none;
  }
}
.background img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  right: 0;
  top: 16%;
}
.background__active {
  visibility: visible;
  background: #F9FAFB;
  height: 100%;
}
.background__deactive {
  visibility: hidden;
}

.header {
  z-index: 50;
}
.header__row {
  display: flex;
  justify-content: space-between;
  padding: 20px 42px;
}
.header__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: black;
  background: url("/img/icons/lock.png") left bottom no-repeat;
  padding: 0px 0px 0px 25px;
}

.progress-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.progress-bar__step {
  background-color: #fff;
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  border: 2px solid black;
  padding: 1px 11px;
  border-radius: 50%;
  z-index: 1;
}
.progress-bar__active-step {
  color: #fff;
  background: #4F4CED;
  border: none;
  padding: 2px 12px;
}
.progress-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY();
  height: 3px;
  width: 100%;
  background-color: #000;
}

.btn-next {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  background-color: #FF782D;
  border-radius: 5px;
  padding: 12px 0px 12px 0px;
  max-width: 200px;
}
.btn-next:hover {
  background-color: #f0712d;
  transition: 0.4s;
}
.btn-next:not(:hover) {
  transition: 0.4s;
}

.form-box {
  display: none;
}

.active {
  display: block;
  -webkit-animation: active 1.2s;
          animation: active 1.2s;
}

@-webkit-keyframes active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.deactive {
  display: none;
}

.companies {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  padding: 30px 0px;
}
@media (max-width: 576px) {
  .companies {
    width: 100%;
  }
}

.footer {
  background-color: #fff;
  padding: 14px 100px;
}
.footer__row {
  width: 100%;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 21px;
}
@media (max-width: 576px) {
  .footer__body {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .footer__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px 0px 0px;
  }
}
.footer__links a {
  color: #000;
}
.footer__links a:first-child {
  padding: 0px 28px 0px 0px;
}
@media (max-width: 768px) {
  .footer {
    padding: 14px 30px;
  }
}

.step-1__row {
  padding: 20px 100px;
}
@media (max-width: 576px) {
  .step-1__row {
    padding: 20px 50px;
  }
}
.step-1__body {
  display: flex;
  flex-direction: column;
}
.step-1__content {
  width: 70%;
  position: relative;
  margin: 0px 0px 15% 0px;
}
@media (max-width: 768px) {
  .step-1__content {
    width: 100%;
  }
}
.step-1__title {
  max-width: 60%;
  font-weight: 700;
  font-size: 42px;
  line-height: 48px;
  text-align: left;
  margin: 50px 0px 0px 0px;
}
@media (max-width: 768px) {
  .step-1__title {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .step-1__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.step-1__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: left;
  letter-spacing: -1%;
  margin: 28px 0px 0px 0px;
}
@media (max-width: 576px) {
  .step-1__subtitle {
    font-size: 26px;
    line-height: 35px;
  }
}
.step-1__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.step-1__form {
  display: flex;
  flex-direction: column;
}
.step-1__form-text {
  margin: 18px 0px 0px 0px;
  padding: 18px 120px 14px 16px;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  max-width: 320px;
}
.step-1__form-btn {
  margin: 27px 0px 0px 120px;
}
@media (max-width: 576px) {
  .step-1__form-btn {
    width: 100%;
    max-width: 320px;
    margin: 27px 0px 0px 0px;
  }
}

.step-1-1__form {
  margin: 0px 0px -15% 0px;
}
.step-1-1__form span {
  color: #4F4CED;
  font-size: 16px;
  line-height: 28px;
  margin: 28px 0px 14px 0px;
}
.step-1-1__form-btn {
  margin: 27px 0px 10px 0px;
  max-width: 320px;
}
.step-1-1__form-result {
  max-width: 320px;
  max-height: 310px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 21px;
  background-color: #fff;
  box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 0px 0px 30px 0px;
}
.step-1-1__form-result::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.step-1-1__form-result-radio input[type=radio] {
  display: none;
}
.step-1-1__form-result-radio label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 11px 110px 11px 16px;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: url(/img/icons/check-mark.png) 97% 50% no-repeat;
}
.step-1-1__form-result-radio input[type=radio]:checked + label {
  background: #4F4CED url(/img/icons/checked-check-mark.png) 98% 50% no-repeat;
  transition: 0.5s;
}
.step-1-1__problem {
  color: #4F4CED;
  font-size: 16px;
  line-height: 28px;
  margin: 28px 0px 0px 0px;
}

.step-2__row {
  padding: 20px 100px;
}
@media (max-width: 768px) {
  .step-2__row {
    padding: 20px 30px;
  }
}
.step-2__progress-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY();
  height: 3px;
  width: 50%;
  background-color: #4F4CED;
}
.step-2__progress-bar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY();
  height: 3px;
  width: 50%;
  background-color: #000000;
}
.step-2__body {
  display: flex;
  flex-direction: column;
  margin: 0px 0px -8% 0px;
}
.step-2__content {
  width: 70%;
  position: relative;
  margin: 0px 0px 15% 0px;
}
@media (max-width: 576px) {
  .step-2__content {
    width: 100%;
  }
}
.step-2__options {
  margin: 28px 0px;
}
.step-2__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0px 0px 8px 0px;
}
@media (max-width: 768px) {
  .step-2__title {
    font-size: 18px;
    line-height: 28px;
  }
}
.step-2__select {
  margin: 0px 0px 28px 0px;
}
.step-2__buttons {
  max-width: 326px;
}
@media (max-width: 576px) {
  .step-2__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  .step-2__buttons-form {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }
}
.step-2__form-btn-next {
  width: 163px;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  background-color: #FF782D;
  border-radius: 5px;
  padding: 12px 0px 12px 0px;
}
.step-2__form-btn-next:hover {
  background-color: #f0712d;
  transition: 0.4s;
}
.step-2__form-btn-next:not(:hover) {
  transition: 0.4s;
}
@media (max-width: 576px) {
  .step-2__form-btn-next {
    width: 100%;
  }
}
.step-2__secure {
  font-size: 12px;
  line-height: 21px;
  width: 28%;
  display: flex;
  align-items: center;
  margin: 28px 0px 0px 0px;
  justify-content: space-between;
}
.step-2__secure p {
  background: url("/img/icons/lock.png") left bottom no-repeat;
  padding: 0px 0px 0px 23px;
}
@media (max-width: 1100px) {
  .step-2__secure {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .step-2__secure {
    width: 100%;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn-back {
  margin: 0px 0px 20px 0px;
  position: relative;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
  letter-spacing: 1px;
  background: none;
  width: 63px;
  padding: 0px 0px 0px 30px;
}
.btn-back__arrow {
  cursor: pointer;
  position: relative;
  width: 2px;
  height: 2px;
  margin: 20px;
}
.btn-back__arrow div {
  position: relative;
  top: 11px;
  width: 20px;
  height: 1px;
  background-color: #666666;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  right: 10px;
  display: block;
}
.btn-back__arrow div::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  top: -2.5px;
  right: 13.5px;
  background-color: #666666;
  transform: rotate(135deg);
}
.btn-back__arrow div::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  top: 2.5px;
  right: 13.5px;
  background-color: #666666;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-135deg);
}

.form-group {
  max-width: 326px;
}

.dropdown {
  position: relative;
}
.dropdown__btn {
  text-align: left;
  display: block;
  background: #fff;
  font-size: 16px;
  line-height: 28px;
  padding: 16px 0px 12px 16px;
  box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
  margin: 0px 0px 28px 0px;
}
.dropdown__btn::before, .dropdown__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 23px;
  display: block;
  width: 11px;
  height: 2.5px;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  background-color: #4F4CED;
  transform: translate(-3px, -50%) rotate(45deg);
}
.dropdown__btn::after {
  transform: translate(3px, -50%) rotate(-45deg);
}
.dropdown__list {
  display: none;
  position: absolute;
  text-align: left;
  left: 0;
  top: 48px;
  background: #fff;
  font-size: 16px;
  line-height: 28px;
  padding: 1px 0px 12px 16px;
  box-shadow: 0px 18px 15px 0px rgba(50, 50, 50, 0.3);
  border-radius: 5px;
  width: 100%;
  z-index: 1;
  -webkit-animation: dropdown 0.4s;
          animation: dropdown 0.4s;
}
.dropdown__list-item {
  cursor: pointer;
  padding: 23px 16px 11px 0px;
  position: relative;
}
.dropdown__list-item::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 16px;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 2px solid #4F4CED;
}
.dropdown__input-hidden {
  display: none;
}

@-webkit-keyframes dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.visible {
  display: block;
}

.dropdown-list-item__choosen::before {
  content: "";
  position: absolute;
  top: 48%;
  right: 21px;
  background: #4F4CED;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 20px;
}

.dropdown-btn__active::before, .dropdown-btn__active::after {
  content: "";
  transform: translate(-3px, -50%) rotate(-45deg);
}
.dropdown-btn__active::after {
  content: "";
  transform: translate(3px, -50%) rotate(45deg);
}

.step-3__row {
  padding: 20px 100px;
}
@media (max-width: 1366px) {
  .step-3__row {
    padding: 20px 20px;
  }
}
.step-3__progress-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY();
  height: 3px;
  width: 100%;
  background-color: #4F4CED;
}
.step-3__body {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin: 28px 0px 0px 0px;
  align-items: center;
  text-align: center;
}
.step-3__content {
  width: 50%;
  margin: 0 auto;
  position: relative;
  margin: 20px 0px 0px 0px;
}
@media (max-width: 1366px) {
  .step-3__content {
    width: 55%;
  }
}
@media (max-width: 1100px) {
  .step-3__content {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .step-3__content {
    width: 100%;
  }
}
.step-3__offer {
  padding: 0px 0px 70px 0px;
  position: relative;
  background: #fff;
  width: 50%;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .step-3__offer {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .step-3__offer {
    width: 80%;
  }
}
.step-3__offer-title {
  font-size: 16px;
  position: absolute;
  background: #4F4CED;
  border-radius: 30px;
  width: 70%;
  top: -10px;
  left: 15%;
  padding: 5px 0px;
  color: #fff;
}
.step-3__offer-title span {
  color: #32CE8D;
}
@media (max-width: 280px) {
  .step-3__offer-title {
    width: 90%;
    left: 5%;
  }
}
.step-3__forms {
  margin: 50px 0px;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .step-3__forms {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .step-3__forms {
    width: 80%;
  }
}
.step-3__form-block p {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1%;
  color: #001429;
  text-align: left;
  margin: 28px 0px 0px 0px;
}
.step-3__input {
  margin: 18px 0px 0px 0px;
  padding: 20px 120px 20px 16px;
  box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%;
}
.step-3__checkbox {
  margin: 20px 0px 30px 0px;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #666666;
  position: relative;
}
.step-3__checkbox input {
  display: none;
  position: absolute;
}
.step-3__checkbox label {
  display: block;
  padding: 0px 0px 0px 30px;
}
.step-3__checkbox label::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #4F4CED;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.step-3__checkbox label::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("/img/icons/check-solid.svg") no-repeat;
  background-size: 20px 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;
  opacity: 0;
  transition: 0.2s;
}
.step-3__checkbox input:checked + label::after {
  opacity: 1;
}
.step-3__buttons {
  margin: 0 auto;
  width: 50%;
}
@media (max-width: 768px) {
  .step-3__buttons {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .step-3__buttons {
    width: 80%;
  }
}
.step-3__form-buttons {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.step-3__form-buttons span {
  margin: 12px 0px;
  font-size: 12px;
  line-height: 21px;
  color: #637381;
}
.step-3__form-btn-next {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  background-color: #FF782D;
  border-radius: 5px;
  padding: 12px 0px 12px 0px;
}
.step-3__form-btn-next:hover {
  background-color: #f0712d;
  transition: 0.4s;
}
.step-3__form-btn-next:not(:hover) {
  transition: 0.4s;
}
.step-3__form-btn-back {
  text-align: left;
}
.step-3__form-btn-back span {
  margin-right: 20px;
}
.step-3__secure {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 20% 0px 20%;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  margin: 28px 0px 0px 0px;
  justify-content: space-between;
}
.step-3__secure p {
  background: url("/img/icons/lock.png") left bottom no-repeat;
  padding: 0px 0px 0px 23px;
}
@media (max-width: 576px) {
  .step-3__secure {
    padding: 0px 15px;
  }
}

.offer-block__offered-by {
  padding: 45px 21px 0px 21px;
  color: #637381;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.offer-block__company {
  text-align: left;
  width: 100%;
  height: 100%;
  margin: 0px 27px 0px 0px;
}
.offer-block__company img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 5px 0px 0px 0px;
}
.offer-block__giftcard {
  flex: 1 0 33.333%;
}
.offer-block__giftcard img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.offer-block__cost {
  padding: 0px 21px 14px 21px;
  text-align: left;
  color: #637381;
  font-size: 14px;
  line-height: 21px;
}
.offer-block__cost span {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -1%;
  color: #4F4CED;
  font-weight: 700;
}
.offer-block__cost p:last-child {
  font-size: 12px;
}
.offer-block__features {
  padding: 0px 21px 0px 21px;
  text-align: left;
  color: #637381;
  font-size: 14px;
  line-height: 21px;
}

.features__list {
  color: #001429;
  margin: 10px 0px 20px 0px;
}
.features__list-item {
  background: url("/img/icons/check-mark-green.png") left top no-repeat;
  padding: 0px 0px 14px 20px;
}
.features__btn {
  position: absolute;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #32CE8D;
  padding: 16px 33px 8px 33px;
  border-radius: 5px;
  width: 90%;
  bottom: 15px;
  left: 5%;
}