@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Extrabold.woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Chronicle Display";
    src: url("../fonts/Chronicle-Display-Semibold.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Chronicle Display";
    src: url("../fonts/Chronicle-Display-Black.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}